<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Escribir texto LCD</title>
</head>

<body>
    <input type="text" id="mensaje">
    <button id="btnEnviar">Enviar</button>
</body>
</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script
src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script>
    var io = io.connect('http://127.0.0.1:5000/')    
    function enviarTexto(io){
		    'use strict'
              
            let message = $("#mensaje").val();     
            io.emit('mensaje', message)
          // console.log(texto);
		}
        document.querySelector('#btnEnviar').addEventListener('click', e => enviarTexto(io));	
</script>