<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Escribir texto LCD</title>
</head>

<body>
    <input type="text" id="mensaje">
    <button id="btnEnviar">Enviar</button>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    'use strict'
    var io = io.connect('http://127.0.0.1:5000/')    
    function enviarTexto(io){              
            let message = $("#mensaje").val();     
            io.emit('mensaje', message)
          // console.log(texto);
		}
        document.querySelector('#btnEnviar').addEventListener('click', e => enviarTexto(io));	
</script>