<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Escribir texto LCD</title>
</head>

<body style="background-image: url('https://scontent.fpbc1-1.fna.fbcdn.net/v/t1.0-9/558578_287878047962038_874125277_n.jpg?_nc_cat=102&_nc_ht=scontent.fpbc1-1.fna&oh=8ddb1309deeb7b88d522f51cb5b6364b&oe=5D26C5FF'); background-size: auto">
<div>
    <div style="text-align:center;margin-top:300px">
    <h1 style="color: white;text-align: center; background-color: black;"> Introduzca una frase de su agrado </h1>
    <input type="text" id="mensaje" style="border: 2px solid red; border-radius: 4px; padding: 15px 25px">
    <button id="btnEnviar" style="background-color:green; border: none; color:white; padding: 12px 20px; display: inline-block; font-size: 16px">Enviar</button>
    </div>
</div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    'use strict'
    var io = io.connect('http://192.168.0.9:3000/')    
    function enviarTexto(io){              
            let message = $("#mensaje").val();     
            io.emit('mensaje', message)
          // console.log(texto);
		}
        document.querySelector('#btnEnviar').addEventListener('click', e => enviarTexto(io));	
</script>